body {
  background-color: #dbe5f5; }

#navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #001a57;
  z-index: 9999; }
  #navBar .nav .contactsRoof {
    padding-right: 0;
    margin-top: 12px; }
    #navBar .nav .contactsRoof .contactUs {
      padding-left: 0;
      text-align: right;
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding-left: 25px;
      padding-right: 25px; }
      #navBar .nav .contactsRoof .contactUs p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
        line-height: 23px;
        letter-spacing: 1px; }
        #navBar .nav .contactsRoof .contactUs p::after {
          position: absolute;
          top: 50%;
          right: 0;
          z-index: 0;
          content: " ";
          width: 1px;
          height: 22px;
          margin-top: -11px;
          background-color: rgba(255, 255, 255, 0.2); }
        #navBar .nav .contactsRoof .contactUs p strong {
          display: block;
          font-weight: 300;
          font-size: 14px;
          color: #e5ecfa; }
    #navBar .nav .contactsRoof span {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      margin-top: 8px;
      font-weight: 400;
      font-size: 13px;
      color: #bcc8e4;
      line-height: 22px;
      padding-left: 8px;
      margin-right: -30px; }
    #navBar .nav .contactsRoof .socialLinks {
      display: inline-block;
      font-size: 0;
      margin-top: 10px; }
      #navBar .nav .contactsRoof .socialLinks li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 5px; }
        #navBar .nav .contactsRoof .socialLinks li .fb {
          background-color: #3b5999;
          display: block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          text-align: center;
          font-size: 10px;
          color: #fff;
          line-height: 22px;
          cursor: pointer; }
        #navBar .nav .contactsRoof .socialLinks li .ln {
          background-color: #0077b5;
          display: block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          text-align: center;
          font-size: 10px;
          color: #fff;
          line-height: 22px;
          cursor: pointer; }
        #navBar .nav .contactsRoof .socialLinks li .in {
          background-color: #e4405f;
          display: block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          text-align: center;
          font-size: 10px;
          color: #fff;
          line-height: 22px;
          cursor: pointer; }
  #navBar .col-lg-12 {
    padding: 0; }
  #navBar .navbar {
    padding: 0px 65px;
    width: 100%; }
  #navBar .bg-light {
    background-color: unset !important; }

#detailsPart {
  padding-top: 4.7em;
  background-color: black; }
  #detailsPart .userInfo {
    margin: 0;
    padding: 0;
    width: 100%; }
    #detailsPart .userInfo .id .details {
      text-align: left;
      color: #ddfed9;
      float: left; }
    #detailsPart .userInfo .time-container {
      cursor: pointer;
      font-size: 14px;
      color: #fff0bd;
      text-align: center; }

#testSection {
  height: 100%;
  text-align: left;
  position: relative; }
  #testSection .introduction {
    margin: 12px 10px;
    padding: 12px 10.5px;
    color: #000;
    background-color: #fff;
    font-size: 18.5px;
    font-weight: 700;
    box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
    #testSection .introduction .italic {
      font-style: italic; }
  #testSection .content {
    display: flex;
    height: calc(100% - 90px);
    vertical-align: top;
    margin: 12px 10.5px;
    border-radius: 6px;
    box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
    #testSection .content .question {
      padding: 0 10.5px;
      width: 100%;
      margin-top: 1em;
      overflow-y: auto; }
      #testSection .content .question p {
        font-size: 14px;
        line-height: 1.5;
        text-align: justify; }
    #testSection .content .answer {
      padding: 0 10.5px;
      overflow-y: auto; }
      #testSection .content .answer .choices h4 {
        font-size: 14px;
        margin-top: 2em;
        margin-bottom: 0;
        font-weight: bold; }
      #testSection .content .answer .choices p {
        margin-top: 0;
        margin-bottom: 24px; }
      #testSection .content .answer .choices .multipleChoiceAccardion {
        padding-left: 0 !important;
        font-size: 14px;
        cursor: pointer; }
        #testSection .content .answer .choices .multipleChoiceAccardion .answers {
          padding: 14px 0 0 14px;
          max-height: 300px;
          transition: max-height 1.5s;
          color: #222;
          margin: 0;
          padding: 0px 10px;
          margin-top: 2px;
          overflow: hidden; }
          #testSection .content .answer .choices .multipleChoiceAccardion .answers li {
            list-style-type: none;
            position: relative;
            padding: 2px 0 5px 26px;
            cursor: default; }
            #testSection .content .answer .choices .multipleChoiceAccardion .answers li input {
              position: absolute;
              top: 6px;
              left: 0;
              margin-right: 10px; }

#accordionExample .card .card-header .btn-link {
  font-weight: 400;
  color: black !important;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
