#reading #navBar, #listening #navBar, #writing #navBar, #introduction #navBar, #confirmDetails #navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0a4bad;
  z-index: 9999; }
  #reading #navBar .nav .contactsRoof, #listening #navBar .nav .contactsRoof, #writing #navBar .nav .contactsRoof, #introduction #navBar .nav .contactsRoof, #confirmDetails #navBar .nav .contactsRoof {
    padding-right: 0;
    margin-top: 12px; }
    #reading #navBar .nav .contactsRoof .contactUs, #listening #navBar .nav .contactsRoof .contactUs, #writing #navBar .nav .contactsRoof .contactUs, #introduction #navBar .nav .contactsRoof .contactUs, #confirmDetails #navBar .nav .contactsRoof .contactUs {
      padding-left: 0;
      text-align: right;
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding-left: 25px;
      padding-right: 25px; }
      #reading #navBar .nav .contactsRoof .contactUs p, #listening #navBar .nav .contactsRoof .contactUs p, #writing #navBar .nav .contactsRoof .contactUs p, #introduction #navBar .nav .contactsRoof .contactUs p, #confirmDetails #navBar .nav .contactsRoof .contactUs p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
        line-height: 23px;
        letter-spacing: 1px; }
        #reading #navBar .nav .contactsRoof .contactUs p::after, #listening #navBar .nav .contactsRoof .contactUs p::after, #writing #navBar .nav .contactsRoof .contactUs p::after, #introduction #navBar .nav .contactsRoof .contactUs p::after, #confirmDetails #navBar .nav .contactsRoof .contactUs p::after {
          position: absolute;
          top: 50%;
          right: 0;
          z-index: 0;
          content: " ";
          width: 1px;
          height: 22px;
          margin-top: -11px;
          background-color: rgba(255, 255, 255, 0.2); }
        #reading #navBar .nav .contactsRoof .contactUs p strong, #listening #navBar .nav .contactsRoof .contactUs p strong, #writing #navBar .nav .contactsRoof .contactUs p strong, #introduction #navBar .nav .contactsRoof .contactUs p strong, #confirmDetails #navBar .nav .contactsRoof .contactUs p strong {
          display: block;
          font-weight: 300;
          font-size: 14px;
          color: #e5ecfa; }
    #reading #navBar .nav .contactsRoof span, #listening #navBar .nav .contactsRoof span, #writing #navBar .nav .contactsRoof span, #introduction #navBar .nav .contactsRoof span, #confirmDetails #navBar .nav .contactsRoof span {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      margin-top: 8px;
      font-weight: 400;
      font-size: 13px;
      color: #bcc8e4;
      line-height: 22px;
      padding-left: 8px;
      margin-right: -30px; }
    #reading #navBar .nav .contactsRoof .socialLinks, #listening #navBar .nav .contactsRoof .socialLinks, #writing #navBar .nav .contactsRoof .socialLinks, #introduction #navBar .nav .contactsRoof .socialLinks, #confirmDetails #navBar .nav .contactsRoof .socialLinks {
      display: inline-block;
      font-size: 0;
      margin-top: 10px; }
      #reading #navBar .nav .contactsRoof .socialLinks li, #listening #navBar .nav .contactsRoof .socialLinks li, #writing #navBar .nav .contactsRoof .socialLinks li, #introduction #navBar .nav .contactsRoof .socialLinks li, #confirmDetails #navBar .nav .contactsRoof .socialLinks li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 5px; }
        #reading #navBar .nav .contactsRoof .socialLinks li .iconImg, #listening #navBar .nav .contactsRoof .socialLinks li .iconImg, #writing #navBar .nav .contactsRoof .socialLinks li .iconImg, #introduction #navBar .nav .contactsRoof .socialLinks li .iconImg, #confirmDetails #navBar .nav .contactsRoof .socialLinks li .iconImg {
          vertical-align: middle;
          border-style: none;
          width: 75%; }
        #reading #navBar .nav .contactsRoof .socialLinks li .fb, #listening #navBar .nav .contactsRoof .socialLinks li .fb, #writing #navBar .nav .contactsRoof .socialLinks li .fb, #introduction #navBar .nav .contactsRoof .socialLinks li .fb, #confirmDetails #navBar .nav .contactsRoof .socialLinks li .fb {
          display: block;
          width: 22px;
          height: 22px;
          text-align: center;
          font-size: 10px;
          cursor: pointer; }
        #reading #navBar .nav .contactsRoof .socialLinks li .ln, #listening #navBar .nav .contactsRoof .socialLinks li .ln, #writing #navBar .nav .contactsRoof .socialLinks li .ln, #introduction #navBar .nav .contactsRoof .socialLinks li .ln, #confirmDetails #navBar .nav .contactsRoof .socialLinks li .ln {
          display: block;
          width: 22px;
          height: 22px;
          text-align: center;
          font-size: 10px;
          cursor: pointer; }
        #reading #navBar .nav .contactsRoof .socialLinks li .in, #listening #navBar .nav .contactsRoof .socialLinks li .in, #writing #navBar .nav .contactsRoof .socialLinks li .in, #introduction #navBar .nav .contactsRoof .socialLinks li .in, #confirmDetails #navBar .nav .contactsRoof .socialLinks li .in {
          display: block;
          width: 22px;
          height: 22px;
          text-align: center;
          font-size: 10px;
          cursor: pointer; }
        #reading #navBar .nav .contactsRoof .socialLinks li .web, #listening #navBar .nav .contactsRoof .socialLinks li .web, #writing #navBar .nav .contactsRoof .socialLinks li .web, #introduction #navBar .nav .contactsRoof .socialLinks li .web, #confirmDetails #navBar .nav .contactsRoof .socialLinks li .web {
          display: block;
          width: 22px;
          height: 22px;
          text-align: center;
          font-size: 10px;
          cursor: pointer; }
  #reading #navBar .col-lg-12, #listening #navBar .col-lg-12, #writing #navBar .col-lg-12, #introduction #navBar .col-lg-12, #confirmDetails #navBar .col-lg-12 {
    padding: 0; }
  #reading #navBar .navbar, #listening #navBar .navbar, #writing #navBar .navbar, #introduction #navBar .navbar, #confirmDetails #navBar .navbar {
    padding: 0px 65px;
    width: 100%; }
    #reading #navBar .navbar img, #listening #navBar .navbar img, #writing #navBar .navbar img, #introduction #navBar .navbar img, #confirmDetails #navBar .navbar img {
      vertical-align: middle;
      border-style: none;
      width: 20%; }
  #reading #navBar .bg-light, #listening #navBar .bg-light, #writing #navBar .bg-light, #introduction #navBar .bg-light, #confirmDetails #navBar .bg-light {
    background-color: unset !important; }

#reading #detailsPart, #listening #detailsPart, #writing #detailsPart, #introduction #detailsPart {
  padding-top: 4.7em;
  background-color: black; }
  #reading #detailsPart .userInfo, #listening #detailsPart .userInfo, #writing #detailsPart .userInfo, #introduction #detailsPart .userInfo {
    margin: 0;
    padding: 0;
    width: 100%; }
    #reading #detailsPart .userInfo .id .details, #listening #detailsPart .userInfo .id .details, #writing #detailsPart .userInfo .id .details, #introduction #detailsPart .userInfo .id .details {
      text-align: left;
      color: #ddfed9;
      float: left; }
    #reading #detailsPart .userInfo #time-container, #listening #detailsPart .userInfo #time-container, #writing #detailsPart .userInfo #time-container, #introduction #detailsPart .userInfo #time-container {
      cursor: pointer;
      font-size: 14px;
      color: #fff0bd;
      text-align: end; }
      #reading #detailsPart .userInfo #time-container i, #listening #detailsPart .userInfo #time-container i, #writing #detailsPart .userInfo #time-container i, #introduction #detailsPart .userInfo #time-container i {
        color: white; }

#reading #footerNav, #listening #footerNav {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0; }
  #reading #footerNav .Page .pagination, #listening #footerNav .Page .pagination {
    margin-top: 0;
    cursor: pointer; }
    #reading #footerNav .Page .pagination .page-item.active .page-link, #listening #footerNav .Page .pagination .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: #5e72e4 !important;
      border-color: #5e72e4 !important;
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
    #reading #footerNav .Page .pagination .page-item .page-link, #listening #footerNav .Page .pagination .page-item .page-link,
    #reading #footerNav .Page .pagination .page-item span,
    #listening #footerNav .Page .pagination .page-item span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0 0px;
      border-radius: 50% !important;
      width: 28px;
      height: 28px;
      font-size: 0.9rem; }

#reading #testSection {
  height: 100%;
  text-align: left;
  position: relative; }
  #reading #testSection .introduction {
    margin: 12px 10px;
    padding: 12px 10.5px;
    color: #000;
    background-color: #fff;
    font-size: 18.5px;
    font-weight: 700;
    box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
    #reading #testSection .introduction .italic {
      font-style: italic; }
  #reading #testSection .content {
    display: flex;
    height: calc(100% - 90px);
    vertical-align: top;
    margin: 12px 10.5px;
    border-radius: 6px;
    box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
    #reading #testSection .content .scroll {
      height: 50em;
      overflow: auto; }
    #reading #testSection .content .question {
      padding: 0 10.5px;
      width: 100%;
      margin-top: 1em;
      overflow: auto; }
      #reading #testSection .content .question .drop-target {
        margin-top: 35px; }
        #reading #testSection .content .question .drop-target .drop-box {
          border: 1px solid #0370a7;
          background-color: white;
          margin-left: 0;
          padding: 0 75px;
          display: inline-block;
          height: 19px;
          border: 1px solid #0370a7;
          border-radius: 2.2px;
          background: #fff;
          font-weight: 700; }
      #reading #testSection .content .question p {
        font-size: 14px;
        line-height: 1.5;
        text-align: justify; }
      #reading #testSection .content .question h2 {
        font-size: 18.5px;
        font-weight: bold; }
    #reading #testSection .content .answer {
      padding: 0 10.5px;
      overflow-y: auto; }
      #reading #testSection .content .answer .choices h4 {
        font-size: 14px;
        margin-top: 2em;
        margin-bottom: 0;
        font-weight: bold; }
      #reading #testSection .content .answer .choices h3 {
        font-size: 16px;
        text-align: left !important;
        margin-bottom: 30px !important;
        font-weight: bold; }
      #reading #testSection .content .answer .choices p {
        margin-top: 0;
        margin-bottom: 24px; }
      #reading #testSection .content .answer .choices .header3forImage {
        margin-top: 50px;
        margin-bottom: 30px !important;
        text-align: center !important; }
      #reading #testSection .content .answer .choices .imageQuestions {
        width: 630px;
        height: 380px;
        margin: 0 auto;
        background-size: contain;
        background-image: url(../img/input-question.2996acac.png);
        background-repeat: no-repeat;
        background-position: center right 4px;
        position: relative; }
      #reading #testSection .content .answer .choices .text-drag {
        padding-left: 0; }
        #reading #testSection .content .answer .choices .text-drag .drag-source {
          margin-top: 40px;
          padding: 0 30px 15px 12px;
          max-width: 600px;
          padding-left: 0; }
          #reading #testSection .content .answer .choices .text-drag .drag-source span {
            display: inline-block;
            margin: 3px;
            padding-top: 2px;
            padding-bottom: 2px; }
          #reading #testSection .content .answer .choices .text-drag .drag-source .drag-item {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 24px;
            cursor: move;
            padding: 0 14px;
            background-color: #dde3ee;
            box-shadow: 0 0.0714em 0.143em rgba(0, 0, 0, 0.25);
            border-radius: 2.2px; }
      #reading #testSection .content .answer .choices .drag-content {
        padding-left: 14px; }
        #reading #testSection .content .answer .choices .drag-content p {
          margin: 20px 0; }
          #reading #testSection .content .answer .choices .drag-content p .drop-box {
            margin-left: 5px;
            padding: 0 75px;
            display: inline-block;
            height: 19px;
            border: 1px solid #0370a7;
            border-radius: 2.2px;
            background: #fff;
            font-weight: 700; }
      #reading #testSection .content .answer .choices .drop-container h5 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: bold; }
      #reading #testSection .content .answer .choices .drop-container .drop-box {
        margin-left: 5px;
        padding: 0 75px;
        display: inline-block;
        height: 19px;
        border: 1px solid #0370a7;
        border-radius: 2.2px;
        background: #fff;
        font-weight: 700; }
      #reading #testSection .content .answer .choices .drop-container p {
        display: inline;
        margin: 20px 0;
        font-size: 14px;
        line-height: 1.5; }
      #reading #testSection .content .answer .choices .drop-container .text-drag .drag-source span {
        display: inline-block;
        margin: 3px;
        padding-top: 2px;
        padding-bottom: 2px; }
      #reading #testSection .content .answer .choices .drop-container .text-drag .drag-source .drag-item {
        display: inline-block;
        cursor: move;
        font-size: 12px;
        padding: 0 14px;
        background-color: #dde3ee;
        box-shadow: 0 0.0714em 0.143em rgba(0, 0, 0, 0.25);
        border-radius: 2.2px;
        font-weight: 400; }
      #reading #testSection .content .answer .choices .style ul {
        padding-left: 0; }
        #reading #testSection .content .answer .choices .style ul li {
          list-style: none; }
      #reading #testSection .content .answer .choices .multiple-input .text-input {
        display: inline-block;
        width: 134px;
        margin-right: 5px; }
        #reading #testSection .content .answer .choices .multiple-input .text-input input {
          width: 100%;
          text-align: center;
          font-weight: 700;
          border: 1px solid #0370a7;
          border-radius: 2.3px; }
      #reading #testSection .content .answer .choices .paragraph {
        font-size: 14px;
        line-height: 1.5; }
      #reading #testSection .content .answer .choices .multiple-input {
        text-align: left;
        padding-left: 0 !important;
        margin-top: 20px; }
        #reading #testSection .content .answer .choices .multiple-input .text-input {
          width: 134px;
          margin-right: 5px; }
          #reading #testSection .content .answer .choices .multiple-input .text-input input {
            width: 100%;
            text-align: center;
            font-weight: 700;
            border: 1px solid #0370a7;
            border-radius: 2.3px; }
        #reading #testSection .content .answer .choices .multiple-input ul {
          margin-bottom: 26px;
          padding-right: 40px; }
          #reading #testSection .content .answer .choices .multiple-input ul li {
            font-size: 14px; }
            #reading #testSection .content .answer .choices .multiple-input ul li div {
              display: inline-block; }
      #reading #testSection .content .answer .choices .multipleChoiceAccardion {
        padding-left: 0 !important;
        font-size: 14px;
        cursor: pointer; }
        #reading #testSection .content .answer .choices .multipleChoiceAccardion #accordionExample .card {
          border: none;
          background-color: #dbe5f5;
          margin-bottom: 5px; }
          #reading #testSection .content .answer .choices .multipleChoiceAccardion #accordionExample .card .card-header .btn-link {
            font-weight: 400;
            color: black !important;
            text-decoration: none; }
        #reading #testSection .content .answer .choices .multipleChoiceAccardion .answers {
          padding: 14px 0 0 14px;
          max-height: 300px;
          transition: max-height 1.5s;
          color: #222;
          margin: 0;
          padding: 0px 10px;
          margin-top: 2px;
          overflow: hidden; }
          #reading #testSection .content .answer .choices .multipleChoiceAccardion .answers li {
            list-style-type: none;
            position: relative;
            padding: 2px 0 5px 26px;
            cursor: default; }
            #reading #testSection .content .answer .choices .multipleChoiceAccardion .answers li input {
              position: absolute;
              top: 6px;
              left: 0;
              margin-right: 10px; }

#listening #testSection {
  height: 100%;
  text-align: left;
  position: relative; }
  #listening #testSection .introduction {
    margin: 12px 10px;
    padding: 12px 10.5px;
    color: #000;
    background-color: #fff;
    font-size: 18.5px;
    font-weight: 700;
    box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
    #listening #testSection .introduction .italic {
      font-style: italic; }
  #listening #testSection .content {
    display: flex;
    height: calc(100% - 90px);
    vertical-align: top;
    margin: 12px 10.5px;
    border-radius: 6px;
    box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
    #listening #testSection .content .scroll {
      height: 50em;
      overflow: auto; }
    #listening #testSection .content .question {
      padding: 0 10.5px;
      width: 100%;
      margin-top: 1em;
      overflow: auto; }
      #listening #testSection .content .question .drop-target {
        margin-top: 35px; }
        #listening #testSection .content .question .drop-target .drop-box {
          border: 1px solid #0370a7;
          background-color: white;
          margin-left: 0;
          padding: 0 75px;
          display: inline-block;
          height: 19px;
          border: 1px solid #0370a7;
          border-radius: 2.2px;
          background: #fff;
          font-weight: 700; }
      #listening #testSection .content .question p {
        font-size: 14px;
        line-height: 1.5;
        text-align: justify; }
      #listening #testSection .content .question h2 {
        font-size: 18.5px;
        font-weight: bold; }
    #listening #testSection .content .answer {
      padding: 0 10.5px;
      overflow-y: auto; }
      #listening #testSection .content .answer .choices h4 {
        font-size: 14px;
        margin-top: 2em;
        margin-bottom: 0;
        font-weight: bold; }
      #listening #testSection .content .answer .choices h3 {
        font-size: 16px;
        text-align: left !important;
        margin-bottom: 30px !important;
        font-weight: bold; }
      #listening #testSection .content .answer .choices p {
        margin-top: 0;
        margin-bottom: 24px; }
      #listening #testSection .content .answer .choices .header3forImage {
        margin-top: 50px;
        margin-bottom: 30px !important;
        text-align: center !important; }
      #listening #testSection .content .answer .choices .listeningDrag .drop-container p {
        display: block; }
      #listening #testSection .content .answer .choices .tableMap .photo {
        display: inline-block;
        width: 50%;
        min-height: 300px;
        background-image: url(../img/listeningPhoto.png);
        background-size: contain;
        background-position: 0 0;
        background-repeat: no-repeat; }
      #listening #testSection .content .answer .choices .tableMap .tables {
        vertical-align: top;
        display: inline-block;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box; }
        #listening #testSection .content .answer .choices .tableMap .tables table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 12px;
          font-size: 14px; }
          #listening #testSection .content .answer .choices .tableMap .tables table th {
            border: 1px solid #666;
            padding: 6px;
            background: #c3d9ff;
            text-align: center; }
          #listening #testSection .content .answer .choices .tableMap .tables table td {
            border: 1px solid #666;
            padding: 6px 20px;
            background: transparent; }
            #listening #testSection .content .answer .choices .tableMap .tables table td:first-child {
              padding-left: 15px; }
            #listening #testSection .content .answer .choices .tableMap .tables table td:not(:first-child) {
              cursor: pointer; }
          #listening #testSection .content .answer .choices .tableMap .tables table tr.active td {
            transition: background-color 1s;
            background-color: rgba(181, 234, 255, 0.5); }
      #listening #testSection .content .answer .choices .imageQuestions {
        width: 630px;
        height: 380px;
        margin: 0 auto;
        background-size: contain;
        background-image: url(../img/input-question.2996acac.png);
        background-repeat: no-repeat;
        background-position: center right 4px;
        position: relative; }
      #listening #testSection .content .answer .choices .text-drag {
        padding-left: 0; }
        #listening #testSection .content .answer .choices .text-drag .drag-source {
          margin-top: 40px;
          padding: 0 30px 15px 12px;
          max-width: 600px;
          padding-left: 0; }
          #listening #testSection .content .answer .choices .text-drag .drag-source span {
            display: inline-block;
            margin: 3px;
            padding-top: 2px;
            padding-bottom: 2px; }
          #listening #testSection .content .answer .choices .text-drag .drag-source .drag-item {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 24px;
            cursor: move;
            padding: 0 14px;
            background-color: #dde3ee;
            box-shadow: 0 0.0714em 0.143em rgba(0, 0, 0, 0.25);
            border-radius: 2.2px; }
      #listening #testSection .content .answer .choices .drag-content {
        padding-left: 14px; }
        #listening #testSection .content .answer .choices .drag-content p {
          margin: 20px 0; }
          #listening #testSection .content .answer .choices .drag-content p .drop-box {
            margin-left: 5px;
            padding: 0 75px;
            display: inline-block;
            height: 19px;
            border: 1px solid #0370a7;
            border-radius: 2.2px;
            background: #fff;
            font-weight: 700; }
      #listening #testSection .content .answer .choices .drop-container h5 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: bold; }
      #listening #testSection .content .answer .choices .drop-container .drop-box {
        margin-left: 5px;
        padding: 0 75px;
        display: inline-block;
        height: 19px;
        border: 1px solid #0370a7;
        border-radius: 2.2px;
        background: #fff;
        font-weight: 700; }
      #listening #testSection .content .answer .choices .drop-container p {
        display: inline;
        margin: 20px 0;
        font-size: 14px;
        line-height: 1.5; }
      #listening #testSection .content .answer .choices .drop-container .text-drag .drag-source span {
        display: inline-block;
        margin: 3px;
        padding-top: 2px;
        padding-bottom: 2px; }
      #listening #testSection .content .answer .choices .drop-container .text-drag .drag-source .drag-item {
        display: inline-block;
        cursor: move;
        font-size: 12px;
        padding: 0 14px;
        background-color: #dde3ee;
        box-shadow: 0 0.0714em 0.143em rgba(0, 0, 0, 0.25);
        border-radius: 2.2px;
        font-weight: 400; }
      #listening #testSection .content .answer .choices .style ul {
        padding-left: 0; }
        #listening #testSection .content .answer .choices .style ul li {
          list-style: none; }
      #listening #testSection .content .answer .choices .multiple-input .text-input {
        display: inline-block;
        width: 134px;
        margin-right: 5px; }
        #listening #testSection .content .answer .choices .multiple-input .text-input input {
          width: 100%;
          text-align: center;
          font-weight: 700;
          border: 1px solid #0370a7;
          border-radius: 2.3px; }
      #listening #testSection .content .answer .choices .paragraph {
        font-size: 14px;
        line-height: 1.5; }
      #listening #testSection .content .answer .choices .multiple-input {
        text-align: left;
        padding-left: 0 !important;
        margin-top: 20px; }
        #listening #testSection .content .answer .choices .multiple-input .text-input {
          width: 134px;
          margin-right: 5px; }
          #listening #testSection .content .answer .choices .multiple-input .text-input input {
            width: 100%;
            text-align: center;
            font-weight: 700;
            border: 1px solid #0370a7;
            border-radius: 2.3px; }
        #listening #testSection .content .answer .choices .multiple-input ul {
          margin-bottom: 26px;
          padding-right: 40px; }
          #listening #testSection .content .answer .choices .multiple-input ul:nth-child(2) {
            margin-bottom: 50px; }
          #listening #testSection .content .answer .choices .multiple-input ul li {
            font-size: 14px;
            list-style: none; }
            #listening #testSection .content .answer .choices .multiple-input ul li div {
              display: inline-block; }
            #listening #testSection .content .answer .choices .multiple-input ul li .second-line {
              margin-top: 10px;
              display: block; }
      #listening #testSection .content .answer .choices .empty ul:nth-child(2) {
        margin-bottom: 30px; }
      #listening #testSection .content .answer .choices .empty ul li {
        list-style: disc; }
      #listening #testSection .content .answer .choices .multipleChoiceAccardion {
        padding-left: 0 !important;
        font-size: 14px;
        cursor: pointer; }
        #listening #testSection .content .answer .choices .multipleChoiceAccardion #accordionExample .card {
          border: none;
          background-color: #dbe5f5;
          margin-bottom: 5px; }
          #listening #testSection .content .answer .choices .multipleChoiceAccardion #accordionExample .card .card-header .btn-link {
            font-weight: 400;
            color: black !important;
            text-decoration: none; }
        #listening #testSection .content .answer .choices .multipleChoiceAccardion .answers {
          padding: 14px 0 0 14px;
          max-height: 300px;
          transition: max-height 1.5s;
          color: #222;
          margin: 0;
          padding: 0px 10px;
          margin-top: 2px;
          overflow: hidden; }
          #listening #testSection .content .answer .choices .multipleChoiceAccardion .answers li {
            list-style-type: none;
            position: relative;
            padding: 2px 0 5px 26px;
            cursor: default; }
            #listening #testSection .content .answer .choices .multipleChoiceAccardion .answers li input {
              position: absolute;
              top: 6px;
              left: 0;
              margin-right: 10px; }

#writing {
  height: 100%;
  text-align: left;
  position: relative; }
  #writing #testSection {
    height: 100%;
    text-align: left;
    position: relative; }
    #writing #testSection .introduction {
      margin: 12px 10px;
      padding: 12px 10.5px;
      color: #000;
      background-color: #fff;
      font-size: 18.5px;
      font-weight: 700;
      box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
      #writing #testSection .introduction .italic {
        font-style: italic; }
    #writing #testSection .content {
      display: flex;
      height: calc(100% - 90px);
      vertical-align: top;
      margin: 12px 10.5px;
      border-radius: 6px;
      box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
      #writing #testSection .content .scroll {
        height: 50em;
        overflow: auto; }
      #writing #testSection .content .question {
        padding: 0 10.5px;
        width: 100%;
        margin-top: 1em;
        overflow: auto; }
        #writing #testSection .content .question p {
          font-size: 14px;
          line-height: 1.5;
          text-align: justify; }
        #writing #testSection .content .question h2 {
          font-size: 18.5px;
          font-weight: bold; }
        #writing #testSection .content .question .image {
          margin-top: 3em;
          overflow: hidden;
          display: flex; }
          #writing #testSection .content .question .image img {
            width: 100%; }
      #writing #testSection .content .answer {
        padding: 0 10.5px;
        overflow-y: auto; }
        #writing #testSection .content .answer .choices h4 {
          font-size: 14px;
          margin-top: 2em;
          margin-bottom: 0;
          font-weight: bold; }
        #writing #testSection .content .answer .choices h3 {
          font-size: 16px;
          text-align: left !important;
          margin-bottom: 30px !important;
          font-weight: bold; }
        #writing #testSection .content .answer .choices p {
          margin-top: 0;
          margin-bottom: 24px; }
        #writing #testSection .content .answer .choices .textArea {
          margin-top: 2em; }
          #writing #testSection .content .answer .choices .textArea #forWriting {
            overflow: auto;
            resize: vertical;
            width: 100%;
            background: white;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline: 1px solid gray;
            border-radius: 0;
            padding-left: 20px;
            padding-right: 20px;
            font-family: Lato, sans-serif;
            color: black;
            font-size: 14px;
            font-weight: 300;
            border: 1px solid rgba(255, 255, 255, 0.3);
            height: 30rem; }

#introduction {
  height: 100%;
  text-align: left;
  position: relative; }
  #introduction #testSection {
    height: 100%;
    text-align: left;
    position: relative;
    background-color: #dde3ee; }
    #introduction #testSection .content {
      display: flex;
      height: calc(100% - 90px);
      vertical-align: top;
      margin: 12px 10.5px;
      border-radius: 6px;
      box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
      #introduction #testSection .content .question {
        padding: 0 10.5px;
        width: 100%;
        margin-top: 1em;
        overflow: auto; }
        #introduction #testSection .content .question p {
          font-size: 14px;
          line-height: 1.5;
          text-align: justify; }
        #introduction #testSection .content .question h2 {
          font-size: 18.5px;
          font-weight: bold;
          margin-top: 1.5em; }
        #introduction #testSection .content .question ul {
          padding-left: 40px;
          font-size: 14px; }
          #introduction #testSection .content .question ul li {
            list-style: inside; }
        #introduction #testSection .content .question .startTest p {
          display: inline-block;
          margin: 0.5em auto 1em auto;
          text-align: left;
          font-weight: bold;
          color: #575757; }
        #introduction #testSection .content .question .startTest .green {
          display: block; }
        #introduction #testSection .content .question .startTest .button {
          padding: 0.3em 1em;
          text-decoration: none;
          font-weight: bold;
          color: #1e415b;
          cursor: pointer;
          text-shadow: 0 1px 1px white;
          margin: auto;
          margin-bottom: 1em;
          -moz-border-radius: 5px;
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#confirmDetails {
  height: 100%;
  text-align: left;
  position: relative;
  margin-top: 5em; }
  #confirmDetails #testSection {
    height: 100%;
    text-align: left;
    position: relative;
    background-color: #dde3ee; }
    #confirmDetails #testSection .content {
      display: flex;
      height: calc(100% - 90px);
      vertical-align: top;
      margin: 12px 10.5px;
      border-radius: 6px;
      box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25); }
      #confirmDetails #testSection .content .question {
        padding: 0 10.5px;
        width: 100%;
        margin-top: 1em;
        overflow: auto; }
        #confirmDetails #testSection .content .question p {
          font-size: 14px;
          line-height: 1.5;
          text-align: justify; }
        #confirmDetails #testSection .content .question h2 {
          font-size: 18.5px;
          font-weight: bold;
          margin-top: 1.5em; }
        #confirmDetails #testSection .content .question .checking .user {
          padding-left: 70px;
          position: relative; }
        #confirmDetails #testSection .content .question .checking span {
          color: #fff;
          padding: 7px 12px;
          font-weight: bold;
          letter-spacing: 0.05em;
          border-top-left-radius: 0.75em;
          border-top-right-radius: 0.75em;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
          margin-bottom: 3px;
          background: -moz-linear-gradient(top, #000, #444e54, #0f202d);
          background: linear-gradient(top, #000, #444e54, #0f202d);
          -moz-border-radius-topleft: 0.75em;
          -moz-border-radius-topright: 0.75em; }
        #confirmDetails #testSection .content .question .moreDetails {
          background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15));
          background: linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15));
          min-height: 150px;
          padding: 12px;
          border: 1px solid #fff;
          -moz-border-radius-bottomleft: 0.75em;
          -moz-border-radius-bottomright: 0.75em;
          border-bottom-left-radius: 0.75em;
          border-bottom-right-radius: 0.75em; }
          #confirmDetails #testSection .content .question .moreDetails ul {
            padding-left: 40px;
            font-size: 14px; }
            #confirmDetails #testSection .content .question .moreDetails ul li {
              list-style: inside; }
          #confirmDetails #testSection .content .question .moreDetails .startTest p {
            display: inline-block;
            margin: 0.5em auto 1em auto;
            text-align: left;
            font-weight: bold;
            color: #575757; }
          #confirmDetails #testSection .content .question .moreDetails .startTest .green {
            display: block; }
          #confirmDetails #testSection .content .question .moreDetails .startTest .button {
            padding: 0.3em 1em;
            text-decoration: none;
            font-weight: bold;
            color: #1e415b;
            cursor: pointer;
            text-shadow: 0 1px 1px white;
            margin: auto;
            margin-bottom: 1em;
            -moz-border-radius: 5px;
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

body {
  background-color: #dbe5f5; }

* {
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 1em;
  line-height: inherit;
  text-decoration: inherit;
  color: inherit;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
