#writing {
    @extend %myNavBarExtend;
    @extend %detailsPartExtend;

    height: 100%;
    text-align: left;
    position: relative;
    #testSection {
        height: 100%;
        text-align: left;
        position: relative;
        .introduction {
            margin: 12px 10px;
            padding: 12px 10.5px;
            color: #000;
            background-color: #fff;
            font-size: 18.5px;
            font-weight: 700;
            box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25);

            .italic {
                font-style: italic;
            }
        }

        .content {
            display: flex;
            height: calc(100% - 90px);
            vertical-align: top;
            margin: 12px 10.5px;
            border-radius: 6px;
            box-shadow: 0 0.0714em 0.214em rgba(0, 0, 0, 0.25);

            .scroll {
                height: 50em;
                overflow: auto;
            }

            .question {
                padding: 0 10.5px;
                width: 100%;
                margin-top: 1em;
                overflow: auto;

                p {
                    font-size: 14px;
                    line-height: 1.5;
                    text-align: justify;
                }

                h2 {
                    font-size: 18.5px;
                    font-weight: bold;
                }

                .image {
                    margin-top: 3em;
                    overflow: hidden;
                    display: flex;
                    img {
                        width: 100%;
                    }
                }
            }

            .answer {
                padding: 0 10.5px;
                overflow-y: auto;
                .choices {
                    h4 {
                        font-size: 14px;
                        margin-top: 2em;
                        margin-bottom: 0;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 16px;
                        text-align: left !important;
                        margin-bottom: 30px !important;
                        font-weight: bold;
                    }

                    p {
                        margin-top: 0;
                        margin-bottom: 24px;
                    }

                    .textArea {
                        margin-top: 2em;
                        #forWriting {
                            overflow: auto;
                            resize: vertical;
                            width: 100%;
                            background: white;
                            -webkit-box-shadow: none !important;
                            box-shadow: none !important;
                            outline: 1px solid gray;
                            border-radius: 0;
                            padding-left: 20px;
                            padding-right: 20px;
                            font-family: Lato, sans-serif;
                            color: black;
                            font-size: 14px;
                            font-weight: 300;
                            border: 1px solid rgba(255, 255, 255, 0.3);
                            height: 30rem;
                        }
                    }
                }
            }
        }
    }
}
