@import "extends";
@import "reading";
@import "listening";
@import "writing";
@import "introduction";
@import "confirming";

body {
    background-color: #dbe5f5;
}

* {
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 1em;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit;
    box-sizing: border-box;
}
